@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  margin: 0;
  overflow-x: hidden; 
}

.mission-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content-container {
  max-width: 800px;
  text-align: center;
}

.heading {
  font-size: 3rem;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: rgba(12, 65, 130, 1);
  margin-top: 2rem;
}

.mission-text {
  font-size: 1.5rem;
  margin-top: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: -0.02em;
  color: rgba(12, 65, 130, 1);
}

.learn-more-btn {
  margin-top: 1rem;
  padding: 15px 40px;
  border-radius: 8px;
  color: white;
  background-color: rgba(12, 65, 130, 1);
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.brush-image {
  position: relative;
  top: 140px;
  left: 60%;
  transform: translateX(-50%);
  height: auto;
  z-index: -1;
  max-width: 100%;
}

.waves-image {
  position: absolute;
  top: -70px;
  left: 0;
  width: 30%;
  height: auto;
  z-index: -2;
}