/* Sidebar.css */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rosario&display=swap');
.sidebar-container {
 
  color: #f0f0f0;
  padding: 25px;
  min-height: 100vh;
  width: 300px;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

/* --- Top Section --- */
.sidebar-top {
  display: flex;
  align-items: center;
}

.sidebar-select {
  flex-grow: 1;
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 15px;
  color: #333;
  padding: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
}

.arrow-icon {
  margin-left: 20px;
  font-size: 28px;
  font-weight: 200;
  color: #a9c2d9;
}


.search-bar .input-group-text,
.search-bar .form-control {
  background-color: white;
  border: none;
  color: #555;
  padding-top: 10px;
  padding-bottom: 10px;
}

.search-bar .input-group-text {
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}
.search-bar .form-control {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}
.search-bar .form-control:focus {
  box-shadow: none;
}
.search-bar .form-control::placeholder {
  color: #999;
}


.sidebar-divider {
  border-color: rgba(255, 255, 255, 0.25);
  margin-top: 0;
}

.category-section {
  max-height: 300px; 
  
  overflow-y: auto; 
  overflow-x: hidden;
  background-color: #5385c3ba;
box-shadow: 0px 5px 10px 0px #91b0d2; 
font-family: "Rosario", sans-serif;
color:black;
  border-radius: 10px;      
  padding: 20px;            
}

.category-title {
  font-family:  serif; 
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  color: white;
  margin-top: 10px;
  margin-bottom: 15px;
}

.category-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.category-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 5px 12px 0; 
  font-size: 20px;
  color: black;
}

.radio-circle {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 30%;
  display: inline-block;
  flex-shrink: 0; 
}

.category-section::-webkit-scrollbar {
  width: 10px;
}
.category-section::-webkit-scrollbar-track {
  background: transparent; 
}
.category-section::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 20px;
  border: 3px solid #406A96; 
}
.back-to-home {
  margin-top: auto; 
  padding-top: 20px; 
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  color: white;
}

.back-to-home:hover {
  opacity: 0.8;
}