@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik+Marker+Hatch&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.blogCard-container {
  border-radius: 2%;
  overflow: hidden;
  height: 430px;
}

.blog-img-container {
  border-radius: 13%;
  height: 210px;
  width: 100%;
  overflow: hidden;
}

.blog-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.tag-text {
  padding-top: 4px;
  padding-right: 10px;
  padding-bottom: 4px;
  padding-left: 10px;
  opacity: 1;
  gap: 2px;
  border-radius: 5%;
  background-color: #4b6bfb0d;
  color: #4b6bfb;
  font-family: "Work Sans", sans-serif;
}

.blog-title-text {
  font-family: "Work Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 28px;
  color: #181a2a;
}

.blog-author-pfp {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.blog-author-name {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 20px;
  color: #97989f;
}

.blog-date {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 20px;
  color: #97989f;
}
