@import url('https://fonts.googleapis.com/css2?family=Rosario&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

:root {
  --footer-font-size: 1.15rem; 
}
.font{
  font-family: 'Montserrat', sans-serif !important;
}
h5{
  font-family: 'Montserrat', sans-serif;
}


.footer {
  font-family: 'Rosario', sans-serif;
  background-color: #0C4182;
  color: white;
  width: 100%;
  opacity: 1;
  font-size: var(--footer-font-size);
  padding-left: 1rem;  
  padding-right: 1rem;
  padding-bottom: 80px; 
}



.footer p,
.footer ul li {
  font-family: 'Roboto', sans-serif;
  margin: 4px 0;
  cursor: pointer;
}

.footer h5 {
  margin-bottom: 10px;
  font-size: calc(var(--footer-font-size) + 0.3rem);
}

.footer ul li {
  margin-bottom: 5px;
}

.footer hr {
  opacity: 0.3;
}
