.login-container {
    width: 100%;
  height: auto; /* or min-height if needed */
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}


.login-card {     /* properties for the background semi-circle */
  position: relative;
  background: linear-gradient(135deg, #ffffff 2%, #4A90E2BF 50%, #2D66ADD9 85%);
  width: 100%;
  height: 620px; /* More height for a smooth arc */
  margin: -150px auto 0; /* Slight overlap with navbar */
  border-bottom-left-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;
  text-align: center;
  color: #fff;
  padding: 170px 40px 60px; /* Adjusted for welcome text */
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
  z-index: 1;
}


.welcome-text {
  font-family: "Rufina";
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 10px; 
  margin-bottom: 70px;
  margin-top: 0; /* Ensure no extra gap */
}

.form-group label {
  font-family: 'Rounded Mplus 1c Bold';
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #222;
  margin-bottom: 6px;
  width: 300px; /* Match input width */
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}


.custom-input {             
  border-radius: 8px;
  padding: 12px;
  font-size: 16px;
  width: 300px; /* Fixed width for desktop */
  height: 40px; /*height of inut label*/
  max-width: 90%; /* Responsive limit */
  margin: 0 auto; /* Center input */
  display: block;
}

.login-btn {
  font-family: "Inter";
  width: 155px; /* Match input width */
  max-width: 90%; /* Responsive */
  border-radius: 25px;
  padding: 7px;
  background-color: #555;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
  margin-top: 20px;
}

.icon-container {
  margin-top: 8px; /* or 4px for super close */
  background-color: #fff;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  font-size: 30px;
  color: #333;
}


.acm-logo {
  width: 120px;
  height: 70px;
  margin-top: 70px !important;
  margin-bottom: 100px !important;
}

