.main-content {
  padding: 50px 20px 20px 20px;
}

.dashboard-title {
  font-weight: 700;
  font-size: 33px;
  margin-bottom: 20px;
  color: #120808;
}

.btn-design {
  font-size: 18px;
  font-weight: 600;
  color: #1a1a1a;
  padding: 7px 20px;
  background-color: #fff;
  border-radius: 50px;
  border: 2px solid transparent;
  background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #4182E6, #1A54A6);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
.btn-design:hover {
  box-shadow: 4px 4px 10px rgba(0,0,0,0.15);
}
